<h1 class="places-header">Places</h1>

<p>
  <a href="/places/new" class="btn">New Place</a>
</p>

<ul class="places-list">
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
